
<section>
    <div class="container">
        <div class="row mt-5">

<h1 class="text-center">RESUME</h1>

<div class="col-lg-3 mt-5">
    <div class="card ">
<h1>Personal Information</h1>
<app-personal-info></app-personal-info>
</div>
</div>

<div class="col-lg-3 mt-5">
    <div class="card">
<h1>Contact Information</h1>
<app-contact-info></app-contact-info>
</div>
</div>

<div class="col-lg-3 mt-5">
    <div class="card">
<h1>Educational Background</h1>
<app-educational-background></app-educational-background>
</div>
</div>

<div class="col-lg-3 mt-5">
    <div class="card">
<h1>Work Experience</h1>
<app-work-experience></app-work-experience>
</div>
</div>
</div>

